nav{
    display: flex;
    flex-direction: row;
    height: 75px;
    width: auto;
    padding: 10px;
    justify-content: space-between;
}

body{
    background-color: white;
    font-family: Arial, serif;
}

.hanoi{
    display: flex;
    flex-direction: column-reverse;
    justify-content : flex-start;
    height: 400px;
    width: 200px;
    padding: 20px;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    height:400px;
    width:800px;
    margin-inline : auto;
}

.disk{
    border : black 2px solid;
    width: 100%;
    height : 20px;
}